.error {
    color: red;
}
h2 {
    color: green;
}

.char-count-comment {
    color: red;
}

#comment {
    border-color: red;
}

.users_table {
    border: 1px solid silver;
}

#header div {
    height: 50px;
    background-color: #1b6d85;
    color: #5bc0de;

}

.panel-group {
    font-size: 15px;
    padding: 15px 0;

}

header a {
    font-size: 25px;
    padding: 20px;
    color: #fff9fc;


}
.panel-group a {
    padding: 15px;
    color: white;
}


a {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

.forum-name {
    background-color: #122b40;
    color: white;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;

}
.background-forum {
    padding-top: 10px;
    background-color: #a7d5ff;
}

.table {
    background-color: #f0fcff;
}
.background-table {
    padding: 5px 10px 10px 10px ;
}

.background-sidebar {
    padding-top: 10px;
    background-color: #f0fcff;
}

.background-sidebar p {
    padding: 10px;
}












